<!-- this view loads the MineSweeper JS library for testing purposes -->

<div class="row">
  <div class="centered-box callout">
    <h2>Testing page for MineSweeper API</h2>
  </div>

  <hr>

  <table id="game">
  </table>
</div>
